<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Generador de Reportes</title>


    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="../bower_components/angular-material-expansion-panel/dist/md-expansion-panel.min.css">
    <link rel="stylesheet" href="styles/app.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-aria.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-animate.js"></script>
    <script src="../bower_components/angular-material/angular-material.min.js"></script>
    <script src="../bower_components/angular-material-expansion-panel/dist/md-expansion-panel.js"></script>
    <link href="../bower_components/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>
    <script src="../bower_components/moment/min/moment.min.js"></script>
    <link rel="stylesheet" href="../bower_components/sweetalert2/dist/sweetalert2.min.css">
    <script src="../bower_components/sweetalert2/dist/sweetalert2.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script-->
    <script src="../bower_components/jquery-table2excel/src/jquery.table2excel.js"></script>
    <link href="../bower_components/wait-me/src/waitMe.css" rel="stylesheet">
    <script src="../bower_components/wait-me/src/waitMe.js"></script>
    <script src="../bower_components/exporter.js-master/export.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>
    <script src="../bower_components/ng-material-datetimepicker/dist/angular-material-datetimepicker.min.js"></script>
    <script src="../bower_components/ng-material-datetimepicker/dist/angular-material-datetimepicker.min.js.map"></script>
    <link href="../bower_components/ng-material-datetimepicker/dist/material-datetimepicker.min.css" rel="stylesheet" type="text/css">

    <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <link rel="styleshet" href="styles/app.css">

  <!-- endbuild -->

  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js scripts/main.js -->
  <script src="../node_modules/angular-click-outside/angular-click-outside.js"></script>
  <script src="../node_modules/angularjs-dropdown-multiselect/dist/angularjs-dropdown-multiselect.min.js"></script>

  <script src="scripts/api.js"></script>
  <script src="scripts/datosController.js"></script>

  <!-- endbuild -->
</head>

<body ng-app="myAplicacion">

  <div id="generadorReportesPepsico">

    <header class="geotabPageHeader">
      <h1 class="geotabPageName">Generador de reportes
        <span class="subdued">Auditoría de registros</span>
      </h1>
      <div class="pageNameSecondary">
        <h3 class="geotabSecondaryTitle">
          <span id="generadorReportesPepsico-user"></span>
        </h3>
      </div>
    </header>
    <div layout="row" layout-md="column" ng-controller="accesoDatosController">
      <div flex>
        <!--NUEVA VISTA-->
        <md-card>
          <md-card-header>
            <md-card-header-text>
              <span class="md-headline">Consulta dispositivos</span>
              <span class="md-subhead">Seleccionar / Importar vehículos</span>
            </md-card-header-text>
          </md-card-header>
          <div layout="row" layout-wrap>
            <div flex="30">
              <div layout="row">
                <!--despliega busqueda radioButon simple&multiple-->
                <div flex="80" flex-offset="5">
                  <div><label class="geotabOptionsMenuElementLabel md-part-5 sm-part-12">{{name}}</label>
                    <div class="md-part 10">
                      <div class="md-part-6">
                        <input type="radio" ng-model="tipoBusqueda" id="1" ng-value="1">
                        Simple
                      </div>
                      <div class="md-part-6">
                        <input type="radio" checked="checked" ng-model="tipoBusqueda" id="2" ng-value="2"> Multiple
                      </div>
                    </div>
                    <br><br>

                    <div id="dropZone" ng-show="tipoBusqueda == 2" class="md-part-12">Pega tu Excel aqui</div>
                    <div class="geotabOptionsMenuElementValue relative md-part-12 sm-part-12" ng-show="tipoBusqueda == 1">
                      <span class="optionsMenu_filterContainer full-size org-filter">
                        <input class="inputBox checkmateFormEditField" type="text" placeholder="Buscar {{name}}"
                          ng-model="search.name">
                        <span class="imageContainer icon-fixed">
                          <span ng-if="!showList" class="geotabButtonIcons arrowDown inline" outside-if-not="list"
                            click-outside="close()" ng-click="show($event)"></span>
                          <span ng-if="showList" class="geotabButtonIcons inline closeCross" outside-if-not="list"
                            click-outside="close()" ng-click="show($event)"></span>
                        </span>
                      </span>
                      <div id="list" ng-show="showList" class="filterMenuContainer popupWindow scrollHost touchScrollClass"
                        ng-style="{height: listHeight +'px'}" style="display: block; min-width: 150px; bottom: auto; left: 0; top: 27px; max-width: 251px; width: 251px; min-height: 200px;">
                        <ul class="entityNavigator">
                          <li class="selectAllButton" title="Seleccionar todo">
                            <input type="checkbox" data-type="4" class="geotabSwitchButton" id="selectAll" ng-click="selectAll()"
                              ng-checked="allSelected">
                            <label class="geotabButton ellipsis" for="selectAll" ng-if="lstDeviceGeotab.length > 0"
                              title="Seleccionar todo">
                              <div class="icon geotabIcons_status"></div>
                              Seleccionar todo
                            </label>
                          </li>
                          <li class="separator"></li>
                          <li class="selectButton" title="{{d.name}}" ng-repeat="d in lstDeviceGeotab | filter: search | limitTo: displayedItems track by $index">
                            <input ng-change="select(d)" ng-model="d.checked" type="checkbox" data-type="4" class="geotabSwitchButton"
                              id="{{d.id}}" ng-checked="d.checked">
                            <label class="geotabButton ellipsis" for="{{d.id}}" title="{{d.name}}">
                              <div class="icon geotabIcons_vehicle"></div>
                              {{d.name}}
                            </label>
                          </li>
                        </ul>
                      </div>
                      <button class="optionsMenu_AutocompleteButton geotabButton" ng-click="unSelectAll()">Restablecer
                        selección</button>
                    </div>
                    <p class="filterSelectionInformation">
                      <br><br><br><br>
                      <h4 style="color:rgb(11, 31, 68)">Seleccionados:</h4>
                      <span class="optionsMenu_filterselecteditems" ng-if="selecteditems.length !== lstDeviceGeotab.length">
                        <span ng-repeat="d in selecteditems | limitTo: 100 track by $index">{{d.name}}<span ng-if="!$last">,</span>
                        </span>
                      </span><span ng-if="selecteditems.length > 100 && selecteditems.length !== lstDeviceGeotab.length">{{selecteditems.length
                        > 100 ? '...' : ''}}</span>
                      <h4 style="color:rgb(13, 39, 87)" class="optionsMenu_filterselecteditems" ng-if="selecteditems.length === lstDeviceGeotab.length || selecteditems.length === 0">{{selecteditems.length
                        === lstDeviceGeotab.length ? 'Todo' : 'Nada' }}</h4>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!--despilega datepiker-->
            <div flex class="flex=50">
              <div class="container">
                <md-content layout-padding>
                  <div layout-gt-xs="row">
                    <md-input-container flex-gt-md="100">
                      <label>Periodo de consulta</label>
                      <input mdc-datetime-picker="" date="true" time="true" minutes="true" seconds="true" type="text"
                        id="datetimesecond" placeholder="Date" minute-steps="1" show-todays-date="" min-date="date"
                        ng-model="Data.start" format="YYYY-MM-DD HH:mm:ss" class=" md-input">
                    </md-input-container>
                  </div>
                </md-content>
              </div>
            </div>
            <div flex class="flex=50">
              <div class="container">
                <md-content layout-padding>
                  <div layout-gt-xs="row">
                    <md-input-container flex-gt-md="100">
                      <label>Periodo de consulta</label>
                      <input mdc-datetime-picker="" date="true" time="true" minutes="true" seconds="true" type="text"
                        id="datetimesecondEnd" placeholder="Date" minute-steps="1" show-todays-date="" min-date="date"
                        ng-model="Data.end" format="YYYY-MM-DD HH:mm:ss" class=" md-input">
                    </md-input-container>
                  </div>
                </md-content>
              </div>
            </div>
            <!--btn consulta-->
            <div flex="7">
              <acronym title="">
                <md-button class="md-raised md-primary" ng-disabled="bConsulta" ng-click="consultaVehiculos()"><span
                    class="md-body-1">Consultar</span></md-button>
                <!--button class="optionsMenu_AutocompleteButton geotabButton" ng-disabled="bConsulta" ng-click="consultaVehiculos()">
                  <span class="md-caption">Consultar</span>
                </button-->
              </acronym>
            </div>
            <!-- fin btn consulta-->
          </div>
          <!--fin seleccion de vehículos-->

          <!--tabla-->
          <br>
          <section layout="row" layout-sm="column" layout-align="end" layout-wrap>
            <acronym title="Exportar tabla">
              <md-button class="md-raised md-primary" ng-disabled="bConsulta" ng-click="crearCSVvehiculo()"><span class="md-body-1">Exportar
                  datos</span><i class="material-icons md-24">&nbsp;cloud_download</i></md-button>
            </acronym>
            <acronym title="Limpiar datos">
              <md-button class="md-raised md-primary" ng-disabled="bConsulta" ng-click="refresh1()"><span class="md-body-1">Limpiar
                  datos</span><i class="material-icons md-24">&nbsp;cached</i></md-button>
            </acronym>
          </section>
          <!--fin btn consultar-->
          <span class="md-subhead">&nbsp;&nbsp; Tabla de resultados</span>
          <md-table-container>
            <!--ng-model="selected " esto va en la tabla-->
            <table md-table ng-model="selected" md-row-select md-progress="promise " id="fechaDevice" style="width:100%">

              <thead md-head>
                <tr md-row>
                  <th md-column md-numeric style="color:rgb(37, 71, 123)">Económico </th>
                  <th md-column md-numeric style="color:rgb(37, 71, 123)">VIN </th>          
                  <th md-column md-numeric style="color:rgb(37, 71, 123)">IMEI cut</th>
                  <th md-column md-numeric style="color: rgb(37, 71, 123)">IMEI</th>
                  <th md-column md-numeric style="color: rgb(37, 71, 123)">Telefono Suntech</th>
                  <th md-column md-numeric style="color: rgb(37, 71, 123)">Numero de serie</th>                   
                  <th md-column md-numeric style="color:rgb(37, 71, 123)">Latitud</th>
                  <th md-column md-numeric style="color: rgb(37, 71, 123)">Longitud</th>
                  <th md-column md-numeric style="color:rgb(37, 71, 123)">Botón de pánico</th>
                  <th md-column md-numeric style="color:rgb(37, 71, 123)">Paro de motor</th>
                  <th md-column md-numeric style="color:rgb(37, 71, 123)">CALL</th>
                  <th md-column md-numeric style="color:rgb(37, 71, 123)">Comunicación ST</th>
                  <th md-column md-numeric style="color:rgb(37, 71, 123)">Botón de pánico</th>
                  <th md-column md-numeric style="color:rgb(37, 71, 123)">Cinturón de seguridad</th>
                  <th md-column md-numeric style="color:rgb(37, 71, 123)">Reversa</th>
                  <th md-column md-numeric style="color:rgb(37, 71, 123)">SC B1</th>
                  <th md-column md-numeric style="color:rgb(37, 71, 123)">SC B2</th>
                  <th md-column md-numeric style="color:rgb(37, 71, 123)">SC B3</th>
                  <th md-column md-numeric style="color:rgb(37, 71, 123)">SC B4</th>
                  <th md-column md-numeric style="color:rgb(37, 71, 123)">Comunicación GO</th>
                  
                  <th md-column md-numeric style="color:rgb(37, 71, 123)">Periodo inicial</th>
                  <th md-column md-numeric style="color:rgb(37, 71, 123)">Periodo de finalización</th>
                  <th md-column md-numeric style="color:rgb(37, 71, 123)">Id Go</th>
                </tr>
              </thead>
              <tbody md-body id="resultados">
                <tr md-row md-select-id="name " md-auto-select ng-repeat="totalEventos in eventos track by $index">
                  <td md-cell style="border-top:.5pt solid #8EA9DB; border-right: none; border-bottom: .5pt solid #8EA9DB; border-left: none">{{totalEventos.name}}</td>
                  <td md-cell style="border-top:.5pt solid #8EA9DB; border-right: none; border-bottom: .5pt solid #8EA9DB; border-left: none">{{totalEventos.vehicleIdentificationNumber}}</td>
                  <td md-cell style="border-top:.5pt solid #8EA9DB; border-right: none; border-bottom: .5pt solid #8EA9DB; border-left: none">{{totalEventos.idSuntech}}</td>
                  <td md-cell style="border-top:.5pt solid #8EA9DB; border-right: none; border-bottom: .5pt solid #8EA9DB; border-left: none">{{totalEventos.IMEI}}</td>
                  <td md-cell style="border-top:.5pt solid #8EA9DB; border-right: none; border-bottom: .5pt solid #8EA9DB; border-left: none">{{totalEventos.phoneNumber}}</td>
                  <td md-cell style="border-top:.5pt solid #8EA9DB; border-right: none; border-bottom: .5pt solid #8EA9DB; border-left: none">{{totalEventos.serialNumber}}</td>
                  <td md-cell style="border-top:.5pt solid #8EA9DB; border-right: none; border-bottom: .5pt solid #8EA9DB; border-left: none">{{totalEventos.latitude}}</td>
                  <td md-cell style="border-top:.5pt solid #8EA9DB; border-right: none; border-bottom: .5pt solid #8EA9DB; border-left: none">{{totalEventos.longitude}}</td>              
                  <td md-cell style="border-top:.5pt solid #8EA9DB; border-right: none; border-bottom: .5pt solid #8EA9DB; border-left: none">{{totalEventos.panicoSuntech}}</td>
                  <td md-cell style="border-top:.5pt solid #8EA9DB; border-right: none; border-bottom: .5pt solid #8EA9DB; border-left: none">{{totalEventos.paroMotor}}</td>
                  <td md-cell style="border-top:.5pt solid #8EA9DB; border-right: none; border-bottom: .5pt solid #8EA9DB; border-left: none">{{totalEventos.llamadas}}</td>
                  <td md-cell style="border-top:.5pt solid #8EA9DB; border-right: none; border-bottom: .5pt solid #8EA9DB; border-left: none">{{totalEventos.lastComunicacion
                    | date : "yyyy-MM-dd HH:mm:ss"}}</td>
                  <td md-cell style="border-top:.5pt solid #8EA9DB; border-right: none; border-bottom: .5pt solid #8EA9DB; border-left: none">{{totalEventos.btnPanico}}</td>
                  <td md-cell style="border-top:.5pt solid #8EA9DB; border-right: none; border-bottom: .5pt solid #8EA9DB; border-left: none">{{totalEventos.btncinturon}}</td>
                  <td md-cell style="border-top:.5pt solid #8EA9DB; border-right: none; border-bottom: .5pt solid #8EA9DB; border-left: none">{{totalEventos.btnReversa}}</td>
                  <td md-cell style="border-top:.5pt solid #8EA9DB; border-right: none; border-bottom: .5pt solid #8EA9DB; border-left: none">{{totalEventos.btnCirculo5}}</td>
                  <td md-cell style="border-top:.5pt solid #8EA9DB; border-right: none; border-bottom: .5pt solid #8EA9DB; border-left: none">{{totalEventos.btncirculo6}}</td>
                  <td md-cell style="border-top:.5pt solid #8EA9DB; border-right: none; border-bottom: .5pt solid #8EA9DB; border-left: none">{{totalEventos.btncirculo7}}</td>
                  <td md-cell style="border-top:.5pt solid #8EA9DB; border-right: none; border-bottom: .5pt solid #8EA9DB; border-left: none">{{totalEventos.btncirculo8}}</td>
                  <td md-cell style="border-top:.5pt solid #8EA9DB; border-right: none; border-bottom: .5pt solid #8EA9DB; border-left: none">{{totalEventos.comunicacion
                    | date : "yyyy-MM-dd HH:mm:ss"}}</td>
                  
                  <td md-cell style="border-top:.5pt solid #8EA9DB; border-right: none; border-bottom: .5pt solid #8EA9DB; border-left: none">{{Data.start
                    | date : "yyyy-MM-dd HH:mm:ss"}}</td>
                  <td md-cell style="border-top:.5pt solid #8EA9DB; border-right: none; border-bottom: .5pt solid #8EA9DB; border-left: none">{{Data.end
                    | date : "yyyy-MM-dd HH:mm:ss"}}</td>
                  <td md-cell style="border-top:.5pt solid #8EA9DB; border-right: none; border-bottom: .5pt solid #8EA9DB; border-left: none">{{totalEventos.ids}}</td>

                </tr>
              </tbody>
            </table>
          </md-table-container>
          <md-table-pagination md-limit=" query.limit " md-limit-options="[5, 10, 15] " md-page-select></md-table-pagination>
          <!--fin tabla-->
        </md-card>
      </div>
    </div>
    <!---END NUEVAVISTA-->
  </div>
</body>



</html>
